{
	admin off
	persist_config off
	auto_https off
}

:{$PORT:8080} {
	root * {$SITE_ROOT:/srv}
	encode gzip zstd

	@jsonbr path *.json.br
	header @jsonbr {
		Content-Encoding br
		Content-Type application/json
		Cache-Control "public, max-age=86400"
	}
	@binbr path *.bin.br
	header @binbr {
		Content-Encoding br
		Content-Type application/octet-stream
		Cache-Control "public, max-age=86400"
	}
	@vendor path /vendor/*
	header @vendor Cache-Control "public, max-age=604800"

	@app path / /index.html /rollup.js
	header @app Cache-Control "no-cache"

	file_server
}
